
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>DomestiGo</h1>
    <a asp-controller="Account" asp-action="Login">Entrar</a>
    <a asp-controller="Account" asp-action="SignIn">Cadastrar</a>
</body>
</html>
