
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="login-logo-section">
        <img src="/domestigo-logo.svg" />
    </div>

    
        <form class="login-form-section"> 
            <label class="hidden-element">Email</label>
            <input class="login-form-input" type="email" placeholder="E-mail" />
            <label class="hidden-element">Senha</label>
            <input class="login-form-input" type="password" placeholder="Senha" />
            <p class="pwd-recovery">Esqueci minha senha...</p>
            <input class="login-button-style" type="button" value="ENTRAR" />
        </form>
    

</body>
</html>
