
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form>
        <label>Email</label>
        <input type="email" placeholder="E-mail" />
        <label>Senha</label>
        <input type="password" placeholder="Senha" />
        <input type="button" value="ENTRAR" />
    </form>
</body>
</html>
