
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form>
        <label>Nome</label>
        <input type="text" placeholder="Informe seu nome" />
        <label>Sobrenome</label>
        <input type="text" placeholder="Informe seu sobrenome" />
        <label>E-mail</label>
        <input type="email" placeholder="Informe seu e-mail" />
        <label>Senha</label>
        <input type="password" placeholder="Informe sua senha" />
        <label>Senha</label>
        <input type="password" placeholder="Confirme sua senha" />
        <input type="button" value="ENTRAR" />
    </form>
</body>
</html>
